# Laravel & PHP
/vendor
/storage/*.key
/public/storage
/.phpunit.result.cache
/.phpunit.cache
.env
.env.*
Homestead.yaml
Homestead.json
auth.json

# Node & Frontend
/node_modules
/public/build
/public/hot
npm-debug.log
yarn-error.log

# IDEs & Tools
/.idea
/.vscode
/.fleet

# System files
.DS_Store
Thumbs.db
